body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding-top: 20px;
    overflow-x: hidden; 
}

.container {
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.logo {
    max-width: 150px;
    display: block;
    margin: 0 auto 20px;
    margin-bottom: 80px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

h3, h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: #6c757d;
    font-weight: bold;
}

.nps-scale {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
    overflow-x: hidden; 
}

.scale-item {
    flex: 0 0 calc(100% / 11 - 4px); 
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    margin: 0 2px; 
    border: 2px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

p {
    font-size: 12px;
}

.scale-item[data-value="0"],
.scale-item[data-value="1"],
.scale-item[data-value="2"],
.scale-item[data-value="3"],
.scale-item[data-value="4"],
.scale-item[data-value="5"],
.scale-item[data-value="6"] {
    background-color: #f8d7da;
    border-color: #dc3545;
    color: #dc3545;
}

.scale-item[data-value="7"],
.scale-item[data-value="8"] {
    background-color: #fff3cd;
    border-color: #ffc107;
    color: #856404;
}

.scale-item[data-value="9"],
.scale-item[data-value="10"] {
    background-color: #d4edda;
    border-color: #28a745;
    color: #155724;
}

.scale-item:hover {
    color: white;
}

.scale-item[data-value="0"]:hover,
.scale-item[data-value="1"]:hover,
.scale-item[data-value="2"]:hover,
.scale-item[data-value="3"]:hover,
.scale-item[data-value="4"]:hover,
.scale-item[data-value="5"]:hover,
.scale-item[data-value="6"]:hover {
    background-color: #dc3545;
}

.scale-item[data-value="7"]:hover,
.scale-item[data-value="8"]:hover {
    background-color: #ffc107;
    color: black;
}

.scale-item[data-value="9"]:hover,
.scale-item[data-value="10"]:hover {
    background-color: #28a745;
}

.labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    color: #6c757d;
}

#feedback-text {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

#phone-number {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

#submit-feedback {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #8d156d;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#submit-feedback:hover {
    background-color: #c547a4;
}

.thank-you-section h2,
.thank-you-section h3,
.thank-you-section p {
    text-align: center;
    margin-bottom: 15px;
}

.thank-you-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
}

.thank-you-section a {
    margin-top: 20px;
    background-color: #8d156d;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.thank-you-section a:hover {
    background-color: #c547a4;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%; 
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .nps-scale {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; 
        padding: 0;
        overflow-x: hidden; 
    }

    .scale-item {
        flex: 0 0 calc(100% / 11 - 4px); 
        margin: 0 2px; 
        padding: 8px; 
        font-size: 2.5vw; 
    }

    .labels {
        font-size: 12px;
    }

    #feedback-text, #phone-number {
        font-size: 14px;
        padding: 8px;
    }

    #submit-feedback {
        font-size: 14px;
        padding: 8px;
    }

    .thank-you-section h2, .thank-you-section h3 {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .scale-item {
        flex: 0 0 calc(100% / 11 - 2px); 
        margin: 0 1px; 
        padding: 6px;
        font-size: 3vw; 
    }

    .labels {
        font-size: 11px;
    }
}
